{% extends "rpa.html" %}
{% block content %}
<h1>Random names</h1>
<ul>
  <li><a href="{{ url_for('random_name', country='fiction') }}">Fantasy Names</a></li>
  <li><a href="{{ url_for('random_name', country='real') }}">Real Names</a></li>
  <li><a href="{{ url_for('random_name', country='place') }}">Place Names</a></li>
  <li><a href="{{ url_for('random_name', country='culture') }}">Culture Names</a></li>
  <li><a href="{{ url_for('random_name', country='other') }}">Other Names</a></li>
  <li><a href="{{ url_for('random_name', country='description') }}">Descriptions</a></li>
  <li><a href="{{ url_for('random_name', country='generator') }}">Other Generators</a></li>
</ul>
{% endblock %}
