{% extends "rpa.html" %}
{% block content %}
<h1>Random names</h1>
<ul>
  <li><a href="{{ url_for('random_name', country='fiction') }}">Fantasy Names</a></li>
  <li><a href="{{ url_for('random_name', country='real') }}">Real Names</a></li>
  <li><a href="{{ url_for('random_name', country='place') }}">Place Names</a></li>
  <li><a href="{{ url_for('random_name', country='culture') }}">Culture Names</a></li>
  <li><a href="{{ url_for('random_name', country='other') }}">Other Names</a></li>
  <li><a href="{{ url_for('random_name', country='description') }}">Descriptions</a></li>
  <li><a href="{{ url_for('random_name', country='generator') }}">Other Generators</a></li>
</ul>
<h2>Dungeon</h2>
<ul>
  <li>
    <a href="http://www.apolitical.info/webgame/dungeon/">Age of Fable</a>
    <ul>
	  <li>Tunels&Trolls</li>
	  <li>Labirinth Lord</li>
    </ul>
  </li>
  <li>
    <a href="http://donjon.bin.sh/">donjon</a>
    <ul>
	  <li>
    General

Dice	

1d20+13, 1d8+5 + 2d6
   Roll 

16, 14

Markov Name Generator	
Markov Name Generator

Generate random names using your own source lists

Fractal World Generator	
Fractal World Generator

Generate a random world map.

	  </li>
	  <li>
Fantasy

Fantasy Name Generator	
Fantasy Name Generator

Generate random names for characters, events, taverns, etc.

Random Generator	
Random Generator

Generate random quests, NPCs, loot, castles, towns, etc.

Fantasy Calendar Generator	
Fantasy Calendar Generator

Generate a calendar of months, weeks, lunar cycles, etc.

Fantasy World Generator	
Fantasy World Generator

Generate a random world map with mountain, forest, and city hexes.

Medieval Demographics Calculator	
Medieval Demographics Calculator

Based on Medieval Demographics Made Easy by S. John Ross

Random Adventure Generator	
Random Adventure Generator

Generate random adventure elements based on the Dungeon Master's Design Kit.

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with random features, monsters, and traps.

Random Inn Generator	
Random Inn Generator

Generate random inns and taverns, including menu, patrons, and rumors.

	  </li>
	  <li>
AD&D

Random Generator	
Random Generator

Generate random NPCs, loot, magic items, traps, etc.

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with random features, monsters, and traps.

Random Magic Shop Generator	
Random Magic Shop Generator

Generate random magic shops with items from the DMG.

Random Treasure Generator	
Random Treasure Generator

Coins, gems, jewelry, and magic items.
	  </li>
	  <li>
d20/Fantasy

Initiative Tracker	
Initiative Tracker

Track initiative and turn status.

Power Attack Calculator	
Power Attack Calculator

Calculate the optimum amount of Power Attack to use.

Random Generator	
Random Generator

Generate random NPCs, loot, magic items, traps, etc.

d20 Demographics Calculator	
d20 Demographics Calculator

Based on Medieval Demographics Made Easy by S. John Ross

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with monsters and traps from the d20 SRD.

Random Encounter Generator	
Random Encounter Generator

Select monsters from the d20 SRD based on encounter level, climate, and terrain.

Random Magic Shop Generator	
Random Magic Shop Generator

Generate random magic shops with items from the d20 SRD.

Random Treasure Generator	
Random Treasure Generator

Coins, gems, art objects, and magic items from the d20 SRD.

Random Weather Generator	
Random Weather Generator

Generate random weather, from clear to storms.

XP Calculator	
XP Calculator

Calculate the amount of XP earned for your game.

	  </li>
	  <li>
Microlite20

Microlite20	
Microlite20

Microlite20 purest essence

Random Generator	
Random Generator

Generate random NPCs, loot, magic items, traps, etc.

Random Monster Generator	
Random Monster Generator

Generate random monsters and stats.

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with monsters and traps.

	  </li>
	  <li>
Pathfinder

Power Attack Calculator	
Power Attack Calculator

Calculate the optimum amount of Power Attack to use.

Random Generator	
Random Generator

Generate random NPCs, loot, magic items, traps, etc.

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with random features, monsters, and traps.

Random Encounter Generator	
Random Encounter Generator

Select monsters based on encounter level, climate, and terrain.

Random Magic Shop Generator	
Random Magic Shop Generator

Generate random magic shops with items from Ultimate Equipment.

Random Treasure Generator	
Random Treasure Generator

Coins, gems, art objects, and magic items from Ultimate Equipment.

	  </li>
	  <li>
D&D 4e

Random Generator	
Random Generator

Generate random NPCs, loot, magic items, traps, etc.

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with random features, monsters, and traps.

Random Encounter Generator	
Random Encounter Generator

Select monsters based on encounter level, climate, and terrain.

Random Treasure Generator	
Random Treasure Generator

Coins, gems, art objects, and magic items.

	  </li>
	  <li>
D&D 5e

Spell Sheet	
Spell Sheet

List spells by class, level, school, etc.

Monster List	
Monster List

List monsters by size, type, tags, alignment, etc.

Magic Items	
Magic Items

List magic items by type, rarity, etc.

Encounter Size Calculator	
Encounter Size Calculator

Calculate encounter size based on party size and level

Initiative Tracker	
Initiative Tracker

Track initiative and turn status.

Random Generator	
Random Generator

Generate random NPCs, etc.

Random Dungeon Generator	
Random Dungeon Generator

Generate a dungeon with random features, monsters, and traps.

Random Encounter Generator	
Random Encounter Generator

Select monsters based on encounter level and environment.

Random Magic Shop Generator	
Random Magic Shop Generator

Generate random magic shops with items from the DMG.

Random Treasure Generator	
Random Treasure Generator

Coins, gems, art objects, and magic items.

	  </li>
	  <li>
Weird Fiction

Weird Name Generator	
Weird Name Generator

Generate random names for characters, eldritch things, tomes, etc.

Random Generator	
Random Generator

Generate random NPCs, etc.

	  </li>
	  <li>
Science Fiction

SciFi Name Generator	
SciFi Name Generator

Generate random names for characters, spaceships, locations, planets, etc.

Random Generator	
Random Generator

Generate random NPCs, mecha, spaceships, etc.

SWd20 Freight Jobs	
SWd20 Freight Jobs

Star Wars d20 Freight Jobs, by Ravager of Worlds

SciFi World Generator	
SciFi World Generator

Generate a random world, including size, composition, atmosphere, and other characteristics.

Star System Generator	
Star System Generator

Generate a random star system, including companion stars and planets.

SWd6 System Generator	
SWd6 System Generator

Generate a random star system, including primary planet physics, population, tech level, and other characteristics.

Traveller System Generator	
Traveller System Generator

Generate a random star system, including primary planet physics, population, tech level, and other characteristics.
	  </li>
    </ul>    
  </li>
  <li>
    <a href="http://www.apolitical.info/webgame/dungeon/">Age of Fable</a>
    <ul>
	  <li>Tunels&Trolls</li>
	  <li>Labirinth Lord</li>
    </ul>
  </li>
</ul>
{% endblock %}
